.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s;
    width: 100%;
    border-radius: 15px;
    padding: 20px;
    cursor: pointer;
    background-color: #fff;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card img {
    width: 100%;
    height: 150px;
}

.card .text {
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media only screen and (max-width: 800px) {
    .card img {
        height: 200px;
    }
}
